<%= form_for(@website) do |f| %>
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_name %><br>
    <%= f.text_field :site_name %>
  </div>
  <div class="field">
    <%= f.label :top_content %><br>
    <%= f.text_area :top_content %>
  </div>
  <div class="field">
    <%= f.label :bottom_content %><br>
    <%= f.text_area :bottom_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
